        /* Custom Styles */
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

        /* Body and Typography */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }

        h1 {
            color: white;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #343a40;
        }

        /* Navbar logo adjustments */
        .navbar-brand img {
            width: 50px;
            /* Adjust the width as needed */
            height: auto;
            /* Maintain aspect ratio */
            max-height: 50px;
            /* Adjust the maximum height as needed */
        }

        /* Responsive Adjustments */
        @media (max-width: 768px) {

            .navbar-brand img {
                width: 40px;
                /* Adjust the width for smaller screens */
                max-height: 40px;
                /* Adjust the maximum height for smaller screens */
            }
        }

        @media (max-width: 576px) {
            .navbar-brand img {
                width: 30px;
                /* Adjust the width for extra small screens */
                max-height: 30px;
                /* Adjust the maximum height for extra small screens */
            }
        }