        /* Custom Styles */

        /* Body and Typography */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }

        h1 {
            color: azure;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #343a40;
        }